<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대륙기계</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="farmot1">Test</div>
</body>
</html>